a.navbar-brand{
    padding: 5px 10px 5px 20px;
}

.navbar-default{
    padding: 10px 0;
    background-color: white;
    border: 0;
    margin-bottom: 0;
}

.header-top-fluid{
    background-color: aqua;
}

.header-img{
    width: 100%;
    max-width: 291px;
}